@import '../../less/mixins.less';

.singleIssue-form{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form--body-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  @media screen and (min-width: 1200px){
    flex-direction: row;
}
}


.form--stats{
  
}

.form--body{

}

.singleIssue--footer{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 1.25rem;
  align-items: center;
  background-color: @success;
  flex-grow: 0;

  button{
    background-color: @warning;
    margin: 0 1rem;
  }

  @media screen and (min-width: 1200px){
    justify-content: flex-end;
}
}
