@import '../../less/mixins.less';

.singleIssue-form{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form--body-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  @media screen and (min-width: 1200px){
    flex-direction: row;
}
}


.form--stats{
  padding: 1rem;
  border-right: 1px solid @success;
  // #devBorder()  
}

.form--body{
  padding: 1rem;
  overflow: hidden scroll;
  // #devBorder()  
}

.singleIssue--footer{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 1.25rem;
  align-items: center;
  background-color: @success;
  flex-grow: 0;

  button{
    background-color: @warning;
    margin: 0 1rem;
  }

  @media screen and (min-width: 1200px){
    justify-content: flex-end;
}
}

.statRow{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem 0;

  p{
    margin-bottom: 0;
    min-width: 90px;
  }

  p:nth-of-type(2){
    margin-left: 1rem;
  }

  @media screen and (min-width: 1200px){
    flex-direction: row;
    align-items: center;
}
}

.bmCommentDiv{
  display: flex;

  input{ 
    // max-width: 588px;
  }

  label{
    min-width: 90px;
    padding-right: 1rem;

  }
}
