@import '../../less/mixins.less';

.singleIssue--container{
  display: flex;
  position: relative;
  flex-direction: column;
  margin : 1rem;
  border: 1px solid @success;
  background-color: @success;
  border-radius: @border-round;

  @media screen and (min-width: 1200px){
    height: 40vh;
  }
}

.hide{
  #hideMobileOnly( @dType: flex )
}

.singleIssue--header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem ;
  border-radius: @border-round @border-round 0 0;
  font-size: 1.25rem;
  align-items: center;
  background-color: @success;
  flex-grow: 0;
  p{
    margin: 0;
  }
}
