@import '../../less/mixins';

.issues--item--wrapper{
  text-align: left;
  margin: 1rem;
  border: 1px solid @success;
  padding-bottom:  1rem;
  background-color: #fff;
  border-radius: @border-round;

  @media screen and (min-width: 1200px){
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  }

  div{
    // border: 1px solid red;
  }

  p{
    padding: 0.5rem;
    margin: 0;
    font-size: 1.25rem;
  }

  button {
    padding: 0.25rem 0.5rem;
    margin-top: 0.25rem;
    background-color: @warning;
    #yellowButton();

  @media screen and (min-width: 1200px){
    margin-top: 0;
  }
  }

  i{
    display: block;
    margin: 0 auto;
    color: @danger;
  }

}


.issues--item--first-col{
    background-color:@success; 
    color:#000;
    text-align: right;

  @media screen and (min-width: 1200px){
    background-color:#fff; 
      text-align: left;
      color: rgba(0,0,0,0.65);
  }
}
